<div class="card border-dark mb-3">
<div class="card">
  <div class="card-body" style="background-color: #CCFFCC;">
	<li id="adpost-<%= adpost.id %>">
	  <div class="container">
      <div class="row">
	  <div class="col-md"><%=image_tag adpost.adpost_image.url(:medium) %></div>
	 
	    <div class="col-md">
	      <p>Price, USD: <%= adpost.price %></p>
	      <p>Year of production: <%= adpost.year %></p>
	      <p>Model: <%= adpost.model %></p>
	      <p>Serie: <%= adpost.serie %></p>
	      <p>Body type: <%= adpost.body %></p>
	      <p>Type of gear: <%= adpost.gearbox %></p>
	      <p>Type of engine: <%= adpost.engine_type %></p>
	      <p>Location: <%= adpost.location %></p>
	    </div>
	  </div>
      </div>
	</li>
  </div>
</div>
</div>