
      <h3>GENERAL CHAT</h3>
        <div class="card border-dark mb-3">
          <div class="card-body" style="background-color: #FFFFCC; overflow: scroll; width: 1107px; height: 300px;">
            <div class="col">
              <div class="chat" data-channel-subscribe="chat" data-chat-id="<%= @chat.id %>">
                <% @chat_messages.each do |chat_message| %>
                  <div class="chat-message-container">
                    <div class="row no-gutters">
                      
                      <div class="col">
                        <div class="message-content">
                          <p class="mb-1">

                            <% if chat_message.user_id == current_user.id %>
                            <div class="card-body" style="background-color: #c8d646;">
                            <% else %>
                            <div class="card-body" style="background-color: #d1b681;">
                            <% end %>
                              <%= chat_message.message %>
                              <p> id: <%= chat_message.user_id %></p>
                              <div class="text-right">
                                <small>
                                  <%= chat_message.created_at %>
                                </small>
                              </div>
                            </div>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>    
            </div>
          </div>
        </div>    

  <p></p>
  <p></p>
  <p></p>

  <div class="card-body" style="background-color: #cdbc97;">
    <div class="row">
    <%= form_for ChatMessage.new, :remote => true do |f| %>
        <div class="col-md">
          <%= f.text_area :message, id:'message' %>
        </div>
        <div class="col-md">
          <div class="input-group-append">
            <%= f.submit "send", class: 'btn btn-primary chat-input', id: "submitmess"%>
          </div>
        </div>
        <%= f.hidden_field :chat_id, :value => @chat.id %>
    <% end %>
    </div>
  </div>

  <div class="d-none" data-role="message-template">
  <div class="chat-message-container">
    <div class="row no-gutters">      
      <div class="col">
        <div class="card-body" style="background-color: #c8d646;"> 
        <div class="message-content">
          <p class="mb-1" data-role="message-text"></p>
          <p class="mb-1" data-role="message-user-id"></p>
          <div class="text-right">
            <small data-role="message-date">
            </small>
          </div>
        </div>
        </div>
        <p></p>
      </div>
    </div>
  </div>
</div>


<script>
$('#submitmess').on('click',function(event) {

  $('#card-body').replaceWith('<div class="card-body" style="background-color: #AAAAAA;">' );

});
</script>