<div class="col">
    <div class="chat" data-channel-subscribe="chat" data-chat-id="<%= @chat.id %>">
     
        <div class="chat-message-container">
          <% @chat_messages.each do |chat_message| %>
            <p class="mb-1">
              <%= chat_message.message %>
            </p>
          <%end%>
        </div>
      
    </div>    


  <div class="card-body" style="background-color: #FFFFCC;">
    <%= form_for ChatMessage.new do |f| %>
      <div class="input-group mb-3">
        <p><%= f.text_area :message, id:'message' %></p>
        <div class="input-group-append">
           <p><%= f.submit "send", class: "btn btn-primary", id: "submitmess"%></p>
        </div>
      </div>
    <% end %>
  </div>