<nav class="navbar navbar-expand-lg justify-content-between" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">
    <%= image_tag("mazda-logo-mobile2x.png")%>
  </a>
  <% if current_user %>
     <div class="card-body" style="background-color: #FFFFCC;">
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
        <%= link_to 'Adposts', adposts_path , class: 'dropdown-item' %>
        <%= link_to 'Rent car for you', rented_cars_path , class: 'dropdown-item' %>
        <%= link_to 'General chat', chats_path , class: 'dropdown-item', href: "/chats/1" %>
        <%= link_to 'Personal conversations', conversations_path , class: 'dropdown-item' %>
        
     </div>
  <% else %>
    <div class="card-body" style="background-color: #FF9966;">
      <%= link_to('Login', new_user_session_path) %>  
    </div>
  <% end %>
</nav>