<div class="card border-dark mb-3">
<div class="card">
 <div class="card-body" style="background-color: #CCCCCC;">
    <div class="row">
      <div class="col-md">
      	<%=image_tag rented_car.rented_car_image.url(:medium) %>
      </div>
      <div class="col-md">
      	<p>Price per day, USD: <%= rented_car.price_per_day %></p>
      	<p>model : <%= rented_car.model %></p>
      	<p>serie: <%= rented_car.serie %></p>
      	<p>location: <%= rented_car.location %></p>
        <% if rented_car.rented_leases.find_by(params[rented_car_id:rented_car.id]).nil? %>
          <%= form_for RentedLease.new do |f| %>
            <%= f.hidden_field :rented_car_id, :value => rented_car.id %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <p><%= f.submit "Rent now", class: "btn btn-primary", id: "submitrent"%></p>
          <% end %>
        <%else%>
          <p>car already rent</p>
        <% end %>
      </div>
    </div>
 </div>
</div>
</div>

