 <div class="row">
   <div class="card-body" style="background-color: #FFCC66;">
     <%= form_for RentedCar.new do |f| %>
       <div class="row">
       <div class="col-md">
         <p><%= f.label :price_per_day%></p>
         <p><%= f.text_field :price_per_day, id:'price_per_day' %></p>
         <p><%= f.label :model%></p>
         <p>
           <%= f.select :model, ['mazda axela', 'mazda-3'], {}, id:'model'%>  
         </p>
         <p><%= f.label :serie%></p>
         <p>
           <%= f.select :serie, ['BK serie', 'BL serie'], {}, id:'serie'%>	
         </p>
       </div>
       <div class="col-md">
         <p><%= f.label :location%></p>
         <p><%= f.text_field :location, id:'location'%></p>
         <p><%= f.label :rented_car_image%></p>
         <p><%= f.file_field :rented_car_image, id:'rented_car_image'%></p>
         <p><%= f.submit "Add rented car", class: "btn btn-primary", id: "submitcar"%></p>
       </div>
       </div>
     <%end%>
   </div>
 </div>
 <p></p>
 <p></p>
 <div class="container" id='cont'>
   <div class="rented_cars" id='rented_cars'>
     <%= render @rented_cars %>
   </div>
 </div>


 