<!DOCTYPE html>
<html>
  <head>
    <title>Axela</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <%= render partial: 'navbars/main_navbar' %>
          <div class="my-3">
            <%= yield %>
          </div>
          <%= cloudinary_js_config %>
        </div>
      </div>
    </div>
  </body>
</html>
